.search-box-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  z-index: 777;
}

.search-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -90px);
  z-index: 888;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.819);
  padding-block: 0.8rem;
  padding-left: 2.58rem;
  padding-right: 0.5rem;
  border-radius: 7px;
  width: 270px;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(34, 32, 32);
}

.search-box-icon {
  position: relative;
  left: -104px;
  transform: translate(-50%, -77px);
  z-index: 888;
  width: 21px;
}

.card {
  position: relative;
  padding: 1rem;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  box-shadow: rgba(24, 24, 24, 0.136) 0px 4px 12px;
  padding-bottom: 7rem;
}

.card p {
  border-radius: 5px;
  color: rgb(50, 49, 49);
  font-weight: 500;
  font-size: 14px;
}

.card a {
  padding: 0.5rem 0.3rem;
  border-radius: 5px;
  border: 1px solid rgb(223, 216, 216);
  color: #fff;
  font-weight: 500;
  background-color: rgba(14, 41, 71, 0.878);
  font-size: 13px;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  text-align: center;
}

.card img {
  width: 100px;
  border-radius: 50%;
  padding: 0.37rem;
  box-shadow: 0px 0px 2px rgb(16, 16, 16);
}

.card:hover {
  transform: scale(1.01);
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: rgba(24, 24, 24, 0.3) 0px 4px 12px;
}

